// Fonts
@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/Helvetica-Bold.woff") format("woff");
}

@font-face {
  font-family: "HelveticaNormal";
  src: url("../fonts/Helvetica.woff") format("woff");
}

$font-marcellus: "Marcellus", serif;
$font-primary: "HelveticaNormal", sans-serif;
$font-Alexandria: "Alexandria", sans-serif;
$font-arial: "Arial", sans-serif;

// Background gradient
$bg-radial-dark: radial-gradient(
  50% 50% at 50% 50%,
  rgba(0, 0, 0, 0.4) 0%,
  rgba(0, 0, 0, 0.728) 100%
);
$bg-overlay-radial: radial-gradient(
  50% 50% at 50% 50%,
  rgba(52, 52, 52, 0.57) 0%,
  rgba(0, 0, 0, 0.57) 100%
);
$bg-dark: #0b0b0c;
$bg-dark-tint: #181a1e;
$bg-dark-two: #0c0c0c;
$box-shadow: 0px 4px 30.8px 0px #0000000f;
$beige-color: #ac813c;
$white-color: #fff;
$off-white: #e9e9e9;
$golden-color: 5px solid #c1b800;
$pagination-overlay: linear-gradient(
  0deg,
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
);
$footer-overlay: linear-gradient(
  180deg,
  #0c0c0c 0%,
  rgba(9, 9, 9, 0.68) 54.33%,
  rgba(0, 0, 0, 0.88) 100%
);

$font-sizes: (
  1: 14px,
  2: 15px,
  3: 16px,
  4: 18px,
  5: 20px,
  6: 22px,
  7: 24px,
  8: 26px,
  9: 28px,
);

@each $key, $size in $font-sizes {
  .myfs-#{$key} {
    font-size: $size;
  }
}

body {
  font-family: $font-primary;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.container {
  padding-inline: 0px;
}

.mobile {
  display: none;
}

// ---------------------------------utils-------------------------------//

.btn:hover {
  background-color: transparent;
}

.bgbtn {
  position: relative;
  overflow: hidden;
  background: transparent;
  color: $white-color;
  border: 2px solid $beige-color;
  font-size: 14px;
  border-radius: 0px;
  padding-inline: 20px;
  z-index: 1;
  transition: color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $beige-color;
    z-index: -1;
    transition: transform 0.4s ease;
    transform: translateX(0);
  }

  &:hover {
    color: $beige-color;
    border: 2px solid $beige-color;
    background: transparent;

    &::before {
      transform: translateX(-100%);
    }
  }
}

.btn-outline-secondary {
  position: relative;
  overflow: hidden;
  color: $white-color;
  border-radius: 0px;
  font-size: 14px;
  padding: 8px 20px;
  background-color: transparent;
  z-index: 111;
  transition: color 0.4s ease;
  border: 1px solid #fff;
  font-family: $font-primary;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $beige-color;
    z-index: -1;
    transition: all 0.4s ease;
  }

  &:hover {
    border: 1px solid $beige-color;
  }

  &:hover::before {
    left: 0;
  }

  span {
    margin-left: 8px;
  }

  svg path {
    fill: #ac813c;
    transition: fill 0.3s ease;
  }

  &:hover {
    svg path {
      fill: white;
    }
  }

  @media (max-width: 1024px) {
    font-size: 13px;
  }
}

/* Animation setup */
.underline-path {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: drawLine 6s ease forwards;
  animation-play-state: paused;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
    /* reveals the stroke */
  }
}

// swiper js
.swiper {
  width: 100%;
  padding-bottom: 0px;

  .swiper-slide {
    display: flex;
    justify-content: center;

    .card {
      display: flex;
      background: #1c1c1c;
      color: #fff;
      overflow: hidden;
      max-width: 1000px;
      width: 100%;
      flex-direction: row;
      border-radius: 0px;

      .card-img {
        height: 100%;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-content {
        padding: 30px;
        position: relative;
        width: 80%;

        .card-number {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 1rem;
          opacity: 0.3;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #80816824;
          color: #808168;
          font-family: $font-marcellus;
        }

        h3 {
          font-size: 28px;
          margin: 20px 0 10px;
          font-family: $font-marcellus;
        }

        .subtitle {
          font-family: $font-marcellus;
          margin-bottom: 15px;
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }

        .btn-view {
          padding: 10px 20px;
          background: transparent;
          border: 1px solid #fff;
          color: #fff;
          cursor: pointer;
          margin-top: 20px;
        }
      }
    }
  }

  .navignation {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #3b3b3b;
      top: 49%;
      z-index: -1;
    }

    .navigationbtns {
      position: relative;
      display: flex;
      align-items: center;
      height: 120px;
      gap: 40px;
      background-color: $bg-dark-two;

      .swiper-button-next,
      .swiper-button-prev {
        position: relative;
        border: 1px solid #ffffff52;
        justify-content: center;
        color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 10px;
        overflow: hidden;

        &::after {
          display: none;
        }

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.4s ease;
        }

        &:hover {
          img.default-arrow {
            opacity: 0;
          }

          img.hover-arrow {
            transform: translate(-50%, -50%) scale(1.1);
            opacity: 1;
            transition: all 0.4s;
          }
        }
      }

      .swiper-button-prev img.hover-arrow {
        transform: translate(150%, -50%);
        opacity: 0;
        transition: all 0.6s;
      }

      .swiper-button-next img.hover-arrow {
        transform: translate(-150%, -50%);
        opacity: 0;
        transition: all 0.6s;
      }
    }
  }
}

// @media (max-width: 640px) {
//   .section-5 .btn-outline-secondary {
//     border: 1px solid $beige-color;
//     color: $beige-color !important;
//     &:hover {
//       color: $white-color;
//     }
//   }
// }

// ------------------------Header---------------------------//
header {
  // height: 140px;
  z-index: 11;

  .offcanvas {
    background-color: #000;
  }
  .offcanvas .btn-close {
    filter: invert(1);
  }

  .offcanvas .btn-close:hover {
    filter: invert(0.8);
  }

  .offcanvas-header {
    color: #fff;
    .btn-close {
      i {
        color: #fff !important;
        background-color: #000 !important;
      }
    }
  }
  .line {
    border-bottom: 1px solid #ffffff33;
  }

  .hcontact {
    span {
      cursor: pointer;
      align-items: center;

      i {
        font-size: 20px;
      }

      &:hover {
        color: $beige-color;
        transition: all 0.4s;
      }
    }
  }

  .hsocial {
    ul {
      li {
        list-style: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transition: all 0.4s ease;
        // border: 2px solid red;

        a {
          color: #fff !important;
          text-decoration: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          transition: all 0.4s ease;

          i {
            font-size: 20px;
            transition: transform 0.4s ease, color 0.4s ease;
          }
        }

        &:hover {
          background-color: $white-color;
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);

          a i {
            transform: rotate(360deg) scale(1.2);
            color: $beige-color;
          }
        }
      }
    }
  }

  .navbar {
    .navbar-brand {
      font-size: 36px;
      color: $white-color;
      font-family: $font-marcellus;

      div {
        font-size: 25px;
      }
    }

    .navbar-toggler {
      i {
        color: #fff;
      }
    }
  }

  .navbar-nav {
    margin-right: 20px;

    .nav-link {
      position: relative;
      color: $white-color;
      font-size: 14px;
      font-family: $font-primary;
      padding-inline: 20px !important;
      overflow: hidden;
      z-index: 1;
      transition: color 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $beige-color;
        transition: all 0.4s ease;
        z-index: -1;
      }

      &:hover {
        color: $white-color;

        &::before {
          left: 0;
        }
      }

      &.active {
        color: $white-color;

        &::before {
          left: 0;
        }
      }

      &:active {
        color: $white-color;

        &::before {
          left: 0;
        }
      }

      &.show {
        color: $white-color;
      }
    }
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    .hcontact {
      span {
        font-size: 14px;

        i {
          font-size: 16px;
        }
      }
    }

    .hsocial {
      ul {
        li {
          a {
            i {
              font-size: 14px;
              transition: transform 0.4s ease, color 0.4s ease;
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1024px) {
    .hcontact {
      gap: 10px !important;

      span {
        font-size: 13px;

        i {
          font-size: 16px;
        }
      }
    }

    .hsocial {
      ul {
        gap: 10px !important;

        li {
          a {
            i {
              font-size: 14px;
              transition: transform 0.4s ease, color 0.4s ease;
            }
          }
        }
      }
    }

    .navbar-nav {
      .nav-link {
        padding-inline: 14px !important;
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-collapse {
      background-color: $bg-dark;
      padding: 20px;
    }

    .dropdown-item.active,
    .dropdown-item:active {
      background-color: $beige-color;
    }

    .header-top {
      padding: 0 20px;
    }

    .hcontact {
      gap: 10px !important;

      span {
        font-size: 13px;

        i {
          font-size: 16px;
        }
      }
    }

    .hsocial {
      ul {
        gap: 10px !important;

        li {
          a {
            i {
              font-size: 14px;
              transition: transform 0.4s ease, color 0.4s ease;
            }
          }
        }
      }
    }

    .navbar {
      padding: 0px;
    }

    .navbar-brand {
      h2 {
        font-size: 25px;

        div {
          font-size: 18px !important;
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 640px) {
  header {
    .preheader,
    .line {
      display: none;
    }

    .navbar-brand {
      padding: 10px 0px;

      h2 {
        margin-bottom: 0;
      }
    }

    .navbar-toggler {
      border: 0px;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

// ---------------------------------Header-------------------------------//
// ---------------------------------Hero Section-------------------------------//

.hero-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fefff3 !important;
  overflow: hidden;

  .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;

    .bg {
      position: relative;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;

      .hero-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .layer {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 30px;

          h1 {
            font-size: 6rem;
            font-family: $font-marcellus;
          }

          p {
            width: 60%;
          }
        }
      }

      .btn-outline-secondary {
        padding: 12px 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $bg-radial-dark;
        z-index: 2;
      }
    }

    .hero-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      z-index: 20;
    }
  }

  .paginationImg {
    position: absolute;
    bottom: 16%;
    width: 100%;
    height: 200px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;

    .circle-div {
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $pagination-overlay;
        z-index: 11;
        transition: background 0.3s ease;
      }

      &.active {
        border: 2px solid #fefff391;
      }

      &.active::after {
        background: transparent;
      }

      .number {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: 12;
        font-family: $font-marcellus;
        color: #fff;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  @media (min-width: 1401px) and (max-width: 1600px) {
    height: auto;

    .paginationImg {
      bottom: 4%;
    }
  }

  @media (min-width: 1024px) and (max-width: 1400px) {
    height: auto;

    .swiper-slide {
      .bg {
        .hero-content {
          .layer {
            width: 100%;
            z-index: 11;

            h1 {
              font-size: 5rem;
            }

            p {
              width: 60%;
            }
          }
        }
      }
    }

    .paginationImg {
      height: 100px;
      align-items: center;
      justify-content: center;
      bottom: 10%;

      .circle-div {
        width: 80px;
        height: 80px;

        .number {
          font-size: 16px !important;
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1024px) {
    height: auto;

    .swiper-slide {
      .bg {
        .hero-content {
          .layer {
            width: 100%;
            z-index: 11;
            gap: 20px;

            h1 {
              font-size: 4rem;
            }

            p {
              width: 80%;
            }
          }
        }
      }
    }

    .paginationImg {
      height: 100px;
      align-items: center;
      justify-content: center;
      bottom: 5%;

      .circle-div {
        width: 80px;
        height: 80px;

        .number {
          font-size: 16px !important;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .swiper-slide {
      .bg {
        .hero-content {
          .layer {
            gap: 10px;

            h1 {
              font-size: 2.5rem;
            }

            p {
              width: 100%;
              font-size: 12px;
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    .swiper-slide .bg .btn-outline-secondary {
      padding-block: 8px;
    }

    .paginationImg {
      height: auto;
      bottom: 6%;

      .circle-div {
        width: 60px;
        height: 60px;
      }
    }
  }

  @media (min-width: 640px) and (max-width: 768px) {
    .swiper-slide {
      .bg {
        .hero-content {
          .layer {
            gap: 20px;

            h1 {
              font-size: 2rem;
              margin-bottom: 0;
            }

            p {
              width: 100%;
              font-size: 12px;
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    .swiper-slide .bg .btn-outline-secondary {
      padding-block: 5px;
      font-size: 10px;
    }

    .paginationImg {
      height: auto;
      bottom: 6%;

      .circle-div {
        width: 60px;
        height: 60px;
      }
    }
  }

  @media (max-width: 640px) {
    .swiper-slide {
      .bg {
        .hero-content {
          top: 60%;

          .layer {
            gap: 6px;

            h1 {
              font-size: 1.8rem;
            }

            p {
              width: 100%;
              font-size: 14px;
              margin-bottom: 10px;
              line-height: 16px;
            }
          }
        }
      }
    }

    .swiper-slide .bg .btn-outline-secondary {
      padding-block: 8px;
    }

    .paginationImg {
      display: none;
    }
  }

  @media (min-width: 300px) and (max-width: 540px) {
    .swiper-slide {
      .bg {
        height: 60vh;
      }
    }

    .swiper-slide .bg .btn-outline-secondary {
      padding-block: 8px;
    }
  }
}

// --------------------shape----------------//
.curved-shape {
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 103%;
  height: 152px;
  overflow: hidden;

  .curve {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    overflow: hidden;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (min-width: 1401px) and (max-width: 1600px) {
    width: 100%;
    height: 130px;
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    width: 100%;
    height: 110px;
  }

  @media (min-width: 1025px) and (max-width: 1200px) {
    height: 90px;
  }

  @media (min-width: 992px) and (max-width: 1024px) {
    height: 85px;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    height: 80px;
    bottom: -2%;
  }

  @media (min-width: 640px) and (max-width: 768px) {
    height: 66px;
  }

  @media (max-width: 640px) {
    height: 52px !important;
    width: 100% !important;
  }
}

// ---------------------------Section One-----------------------//
.getintouchimg {
  .overlay {
    position: absolute;
    background: $pagination-overlay;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.section-1 {
  position: relative;
  background: #fefff3;

  .section-title {
    img {
      width: 90px;
      transform: translateY(-5px);
    }
  }

  .leftContent {
    padding-right: 20px;

    .bgbtn {
      font-family: $font-Alexandria !important;
      font-weight: 400;
    }
  }

  .rightContent {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    h2 {
      font-family: $font-marcellus;
    }

    p {
      padding-right: 30px;
      margin-bottom: 30px;
    }

    .btn-outline-secondary {
      font-family: $font-Alexandria !important;
      font-weight: 300;
    }
  }

  .aboutimg {
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .counter {
    .count {
      padding-block: 20px;

      h3 {
        font-family: $font-marcellus;
        color: $beige-color;
      }

      p {
        font-weight: 500;
        font-family: Arial;
        text-transform: capitalize;
        color: $bg-dark;
      }
    }
  }

  .bottom-shape {
    transform: translateY(50px);
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: 1401px) and (max-width: 1600px) {
    .rightContent {
      p {
        padding-right: 30px;
        margin-bottom: 0px;
      }
    }

    .bottom-shape {
      transform: translateY(43px) !important;
    }

    .section-1 .curve {
      width: 130%;
      left: -135px;
      top: -26%;
    }
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    .curve {
      width: 130%;
      left: -135px;
      top: -15%;
      height: 100px !important;
    }

    .rightContent {
      p {
        padding-right: 30px;
        margin-bottom: 0px;
      }
    }

    .getintouchimg {
      margin-top: 0px !important;
    }

    .bottom-shape {
      transform: translateY(38px);
    }

    .leftContent p,
    .rightContent p {
      font-size: 13px !important;
    }
  }

  @media (min-width: 992px) and (max-width: 1024px) {
    .curve {
      position: absolute;
      width: 135%;
      height: 108px;
      left: -112px;
      top: -15%;

      .rightContent {
        padding-left: 0px;

        p {
          padding-right: 0px;
          margin-bottom: 30px;
        }
      }

      .bottom-shape {
        transform: translateY(30px);
      }

      .counter {
        .count h3 {
          font-size: 20px;
        }
      }
    }
  }

  @media (min-width: 640px) and (max-width: 992px) {
    p {
      font-size: 15px !important;
    }
    .rightContent {
      p {
        padding-right: 0;
        margin-bottom: 0;
      }

      h2 {
        margin-top: 1rem;
      }
    }
  }
  @media (max-width: 768px) {
    .rightContent {
      padding-left: 0px;
      p {
        padding-right: 0;
        margin-bottom: 0;
      }
      h2 {
        margin-top: 10px;
      }
    }
    .leftContent {
      padding-right: 0px;
    }
  }
  @media (max-width: 640px) {
    p {
      font-size: 15px !important;
      text-align: justify;
    }
    .rightContent {
      padding-left: 0px;
      justify-content: start;
    }
    .getintouchimg {
      h3 {
        margin-bottom: 20px;
      }
    }
  }
  @media (max-width: 992px) {
    .aboutimg {
      display: none !important;
    }
  }
}

// --------------------Section-2----------------------//

.section-2 {
  padding-top: 120px;
  background-color: $bg-dark-two;
  position: relative;
  overflow: hidden;

  .section-title {
    h2:nth-of-type(2) {
      font-family: $font-marcellus;
    }
  }

  .leaf {
    position: absolute;
    top: -8%;
    right: -3%;
    width: 310px;
    height: 310px;
    transform: rotate(-90deg);
    opacity: 0.6;

    img {
      position: absolute;
      top: -0%;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    .swiper {
      .swiper-slide {
        .card {
          .card-content {
            h3 {
              font-size: 22px;
            }

            .subtitle {
              font-size: 14px;
            }

            p:nth-of-type(2) {
              font-size: 11px;
            }
          }
        }
      }
    }

    .leaf {
      top: -10%;
      right: -5%;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .leaf {
      top: -8%;
      right: -8%;
    }

    .swiper {
      .swiper-slide {
        .card {
          .card-content {
            padding: 30px;

            h3 {
              font-size: 40px;
            }

            .subtitle {
              font-size: 24px;
            }

            p:nth-of-type(2) {
              font-size: 16px;
            }

            .card-number {
              top: 8px;
              right: 10px;
            }
          }

          .btn-outline-secondary {
            padding-block: 8px;
            font-size: 14px;
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .swiper {
      .swiper-slide {
        .card {
          .card-content {
            h3 {
              font-size: 20px !important;
            }
          }
        }
      }
    }
  }

  @media (min-width: 640px) and (max-width: 768px) {
    padding-top: 90px;

    .swiper .swiper-slide .card .card-content h3 {
      font-size: 20px;
    }

    .leaf {
      position: absolute;
      top: -8%;
      right: -10%;
      width: 250px;
      height: 250px;
    }
  }
  @media (min-width: 300px) and (max-width: 540px) {
    padding-top: 60px;

    .swiper .swiper-slide .card .card-content {
      padding: 10px;
      .btn-outline-secondary {
        padding-block: 5px;
      }

      .card-number {
        top: 5px;
        right: 5px;
        width: 35px;
        height: 35px;
      }
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
        &:last-of-type {
          font-size: 13px;
        }
      }
    }

    .leaf {
      top: -5%;
      right: -10%;
      width: 200px;
      height: 200px;
    }
  }
  @media (max-width: 450px) {
    .swiper .swiper-slide .card {
      flex-direction: column;
      .card-img {
        height: 200px;
      }
      .card-content {
        width: 100%;
      }
    }
  }
}

// --------------------Section-3----------------------//

.section-3 {
  background-image: url("../img/section-3.png");
  background-position: center;
  background-size: cover;
  width: 100%;

  .section-title h2 {
    font-size: 50px;
    text-align: center;
    font-family: $font-marcellus;
  }

  .blackBox {
    width: 325px;
    height: 325px;
    background-color: #85808094;
    border: 0.98px solid #ffffff;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 10px;

    .innerBox {
      width: 100%;
      height: 100%;
      background-color: $bg-dark-two;
      color: $white-color;
      transition: all 0.5s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .icondiv {
        border: 1px solid #6d6e6e;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;

        img {
          width: 40px;
          height: 40px;
          transition: transform 0.5s ease;
        }
      }

      h3 {
        font-family: $font-marcellus;
        transition: color 0.5s ease;
      }

      p {
        color: #ffffff9e;
        line-height: 18px;
        transition: color 0.5s ease;
      }
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);

      .icondiv {
        border-color: $beige-color;
        background-color: rgba(255, 204, 0, 0.1);

        img {
          transform: rotate(15deg);
        }
      }

      h3 {
        color: $beige-color;
      }

      p {
        color: #ffffff;
      }
    }
  }

  .centerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }

  .blackBox {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover .innerBox {
      transform: rotateY(180deg);
    }

    .innerBox {
      transform-style: preserve-3d;
      transition: transform 0.8s ease;

      .front,
      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 1.6rem;
      }

      .back {
        transform: rotateY(180deg);
      }
    }
  }

  @media (max-width: 1024px) {
    .section-title {
      margin-bottom: 0 !important;
      h2 {
        font-size: 40px;
      }
    }

    .centerBox {
      gap: 30px;
    }

    .blackBox {
      width: 250px;
      height: 250px;
      margin-bottom: 0px !important;

      .innerBox {
        padding-block: 0px !important;
      }
    }
  }
  @media (min-width: 769px) and (max-width: 992px) {
    .blackBox {
      width: 230px;
      height: 250px;
      .innerBox {
        padding-block: 0px !important;

        .front,
        .back {
          padding: 6pxgit;
        }

        .icondiv {
          width: 50px;
          height: 50px;
          padding: 10px;
        }

        h3 {
          font-size: 15px;
        }

        p {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .centerBox {
      gap: 30px;
    }

    .blackBox {
      .innerBox {
        padding-block: 0px !important;

        .front,
        .back {
          padding: 1rem;
        }

        .icondiv {
          width: 60px;
          height: 60px;
        }

        h3 {
          font-size: 15px;
        }

        p {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }

  @media (max-width: 540px) {
    .section-title h2 {
      font-size: 30px;
    }
    .blackBox {
      width: 325px;
      height: 325px;
      margin-bottom: 16px !important;
    }
  }

  @media (max-width: 350px) {
    .section-title h2 {
      font-size: 30px;
    }
    .blackBox {
      width: 280px;
      height: 280px;
      margin-bottom: 16px !important;
    }
  }
}

// -----------------------section-4-----------------------------//
.section-4 {
  .section-title {
    h2 {
      color: $beige-color;
    }

    h2:nth-child(2) {
      font-family: $font-marcellus;
      color: $bg-dark-two;
    }

    button {
      border: 1px solid $beige-color;
      color: $beige-color;

      &:hover {
        color: #fff;
      }
    }
  }

  .blog-card {
    background: white;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;

    .vrline {
      color: #dbdbdb;
    }
  }

  .blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  }

  .blog-card-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }

  .blog-card-body {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .blog-meta {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: $beige-color;
  }

  .blog-meta i {
    margin-right: 5px;
  }

  .blog-title {
    color: $bg-dark-two;
    font-family: $font-marcellus;
    margin-bottom: 20px;
    line-height: 1.4;
    flex-grow: 1;
  }

  .btn-read-more {
    border: 1px solid $beige-color;
    color: $beige-color;
    background: transparent;
    padding-block: 6px;
    padding-inline: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
  }

  .btn-read-more:hover {
    background-color: $beige-color;
    color: white;
  }
  .mobile .btn-outline-secondary {
    border: 1px solid $beige-color;
    color: $beige-color;
    &:focus {
      color: $white-color;
    }
  }
  @media (max-width: 1024px) {
    .blog-title {
      font-size: 16px;
    }
  }
  @media (min-width: 300px) and (max-width: 540px) {
    padding-bottom: 1rem !important;
  }
}

// -----------------------section-5-----------------------------//
.section-5 {
  background-color: $bg-dark-two;

  .section-title {
    h2 {
      color: $beige-color;

      &:nth-child(2) {
        color: $white-color;
        font-family: $font-marcellus;
        font-size: 40px;
      }
    }
  }

  .btn-outline-secondary {
    border: 1px solid $beige-color;
    color: $beige-color;
    &:hover{

    }
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    .testimonial-Card {
      position: relative;
      width: 100%;
      height: 350px;
      background-color: $bg-dark-tint;
      display: flex;
      justify-content: center;
      align-items: center;

      .inner {
        width: 80%;
        height: 80%;

        .user-img {
          position: absolute;
          right: 10%;
          top: -50px;
          width: 100px;
          height: 100px;
          border-radius: 50%;

          .rating {
            position: absolute;
            width: 50%;
            height: 50%;
            top: -10px;
            right: -30px;
            border-radius: 50%;

            i {
              color: orange;
              font-size: 20px;
            }
          }
        }

        .quotion {
          text-align: center;
        }

        .content {
          margin-top: 3rem;

          h3 {
            font-weight: 600;
          }
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1024px) {
    p {
      font-size: 13px;
    }
  }

  @media (min-width: 450px) and (max-width: 540px) {
    .section-title h2:nth-child(2) {
      font-size: 30px;
    }
    .swiper-slide .testimonial-Card .inner {
      .content {
        margin-top: 1rem !important;
      }
    }
  }
  @media (max-width: 450px) {
    .section-title h2:nth-child(2) {
      font-size: 24px;
    }
    .swiper-slide .testimonial-Card .inner {
      .content {
        margin-top: 1rem;
        p {
          font-size: 13px;
        }
      }
      .quotion {
        position: relative;
        width: 30px;
        height: 30px;
        left: 50%;
        transform: translateX(-50%);
        img {
          width: 100%;
          height: 100%;
        }
      }
      .user-img {
        top: -30px;
        right: 0;
        .rating {
          right: 0;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// -----------------------Footer-----------------------------//
.footer {
  position: relative;
  background-image: url("../img/footer.png");
  width: 100%;
  background-position: center;
  background-size: cover;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: $footer-overlay;
    z-index: 1;
  }

  .section-title {
    font-family: $font-marcellus;

    h2 {
      font-size: 40px;
    }
  }

  #contactForm {
    margin-top: 60px;

    .form-control {
      border-radius: 0px;
      padding-block: 10px;
      font-family: $font-Alexandria;
      background-color: #ffffff1f;
      color: $white-color;
      border: 1px solid #ffffff28;
      font-weight: 300;

      &:focus {
        box-shadow: none;
      }
    }

    ::placeholder {
      color: #afafaf;
    }

    textarea {
      height: 200px;
    }

    .btn-outline-secondary {
      padding: 8px 40px !important;
      border: 1px solid #fff !important;
    }
  }
}

.footer-section {
  margin-top: 3rem;
  position: relative;
  z-index: 2;

  .footer-content {
    position: relative;
    z-index: 2;

    .brand-section {
      h2 {
        font-size: 40px;
        font-family: $font-marcellus;
        line-height: 30px;
        color: $white-color;

        span {
          font-size: 25px;
        }
      }

      p {
        color: #ffffffb2;
        line-height: 16px;
        font-size: 14px;
        margin-block: 30px;
      }
    }
  }

  .social-icons {
    display: flex;
    gap: 10px;

    .social-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ffffff26;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ffffff33;
      transition: all 0.4s ease;
      text-decoration: none;

      i {
        font-size: 20px;
        color: #fff;
        transition: color 0.4s ease, transform 0.4s ease;
      }

      &:hover {
        background-color: #fff;
        transform: scale(1.1);

        i {
          color: $beige-color;
          transform: rotate(360deg) scale(1.2);
        }
      }
    }
  }

  .footer-heading {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 25px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .footer-links {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 12px;

      a {
        color: #b0b0b0;
        text-decoration: none;
        font-size: 0.95rem;
        transition: all 0.3s ease;
        display: inline-block;

        &:hover {
          color: #ffffff;
          padding-left: 5px;
        }
      }
    }
  }

  .info-item {
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
    align-items: center;

    .info-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.08);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border: 1px solid rgba(255, 255, 255, 0.1);
      transition: all 0.3s ease;

      &:hover {
        background: $beige-color;
        transform: scale(1.1);
      }

      i {
        color: #ffffff;
        font-size: 20px;
      }
    }

    .info-text {
      flex: 1;
      word-break: break-all;

      p {
        margin: 0;
        color: #b0b0b0;
        font-size: 0.9rem;
        line-height: 1.6;
      }
    }
  }

  .footer-bottom {
    margin-top: 60px;
    padding-block: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    .copyright {
      color: #808080;
      font-size: 12px;
    }

    .powered-by {
      color: #605f5f;
      font-size: 12px;

      span {
        color: #f9b309;
        font-weight: 500;
        font-size: 14px;

        &:nth-child(2) {
          color: #605f5f;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .footer-bottom {
      margin-top: 10px;
      gap: 0;
      .powered-by {
        font-size: 10px;
        span {
          font-size: 10px;
        }
      }
    }
    .brand-section {
      margin-bottom: 25px;
      p {
        font-size: 16px !important;
        line-height: 20px !important;
      }
    }
    .footer-heading {
      margin-bottom: 10px !important;
    }
    .footer-links li {
      margin-bottom: 0px !important;
    }
  }
  @media (max-width: 640px) {
    .brand-section {
      p {
        font-size: 16px !important;
        line-height: 20px !important;
      }
    }
    .footer-bottom {
      .powered-by {
        font-size: 10px;
        span {
          font-size: 10px;
        }
      }
    }
    .footer-heading {
      margin-bottom: 10px !important;
    }
    .footer-links {
      padding-bottom: 9px;
      li {
        margin-bottom: 0px !important;
      }
    }
  }
}
