$font-marcellus: "Marcellus", serif;
$font-primary: "HelveticaNormal", sans-serif;
$font-secondary: "HelveticaBold", sans-serif;
$font-Alexandria: "Alexandria", sans-serif;
$font-arial: "Arial", sans-serif;

$bg-dark: #0b0b0c;
$bg-dark-tint: #181a1e;
$bg-dark-two: #0c0c0c;
$box-shadow: 0px 4px 30.8px 0px #0000000f;
$beige-color: #ac813c;
$yellow-color: #b18133;
$white-color: #fff;
$off-white: #e9e9e9;
$golden-color: 5px solid #c1b800;
$pagination-overlay: linear-gradient(
  0deg,
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
);
$footer-overlay: linear-gradient(
  180deg,
  #0c0c0c 0%,
  rgba(9, 9, 9, 0.68) 54.33%,
  rgba(0, 0, 0, 0.88) 100%
);

$font-sizes: (
  1: 14px,
  2: 15px,
  3: 16px,
  4: 18px,
  5: 20px,
  6: 22px,
  7: 24px,
  8: 26px,
  9: 28px,
);

@each $key, $size in $font-sizes {
  .myfs-#{$key} {
    font-size: $size;
  }
}
// common css
.section-title {
  h2 {
    font-family: $font-marcellus;
    font-size: 50px;
  }
}

.section-first {
  .swiper-slide {
    .bg {
      .hero-content {
        height: 100%;
        width: 100%;
        background: linear-gradient(
          270deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.18) 100%
        );
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 60%;
          height: 100%;
          pointer-events: none;
          box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
          filter: blur(5px);
          z-index: -1;
        }
        .layer {
          height: 100%;
          left: 0;
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.01) 0%,
            rgba(153, 153, 153, 0) 100%
          );
          text-align: start;
          .innercontent {
            width: 1320px;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;

            .glssybtn {
              position: relative;
              top: -20px;
              padding: 11px 21px 11px 28px;
              border-radius: 50px;
              background: rgba(0, 0, 0, 0.21);
              backdrop-filter: blur(2.200000047683716px);
              color: $white-color;
              div {
                position: absolute;
                top: -100%;
                left: 0;
                width: 80px;
                height: 80px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
            p {
              font-family: $font-marcellus;
              width: 50%;
            }

            button {
              font-family: Arial;
            }
          }
        }
      }
      &::after {
        background: transparent;
      }
    }
  }
  .paginationImg {
    justify-content: end;
    padding-right: 6%;
  }
}

.section-1 {
  background-color: #fcffef;
  .patte {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
  }
  .paper-tear {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 1;
    img {
      position: absolute;
      top: -50px;
      width: 100%;
      height: 100%;
    }
  }

  p {
    font-family: $font-marcellus;
    line-height: 38px; /* 158.333% */
  }
  .img-col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    position: relative;
    z-index: 1;
    .velimg {
      position: relative;
      width: 100%;
      max-width: 350px;
      height: 350px;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 20px;
        top: 20px;
        border: 1px solid #1f730c;
        z-index: -1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .veliimg2 {
      position: relative;
      width: 100%;
      max-width: 350px;
      height: 350px;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: -20px;
        top: 20px;
        border: 1px solid #1f730c;
        z-index: -1;
      }
    }
  }
}

.section-2 {
  position: relative;
  background: url("../img/pages/sectionbg.png");
  mix-blend-mode: darken;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
  }

  .section-title {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 11;

    .bgimg-title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 60px;
      h2 {
        position: absolute;
        color: black !important;
        font-size: 28px;
        font-family: $font-marcellus;
      }
    }
  }
  .highlights {
    position: relative;
    z-index: 11;
    .highbox {
      display: flex;
      width: 300px;
      padding: 46px 45px 108px 44px;
      flex-direction: column;
      align-items: center;
      border-radius: 400px;
      border: 1px solid #e2edc7;
      background: #f6fae4;
      text-align: center;
      transition: all 0.5s ease;

      .icon-circle {
        width: 120px;
        height: 120px;
        flex-shrink: 0;
        border: 1px solid $yellow-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
      }
      p {
        font-family: $font-marcellus;
        transition: color 0.5s ease;
      }
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);

        .icon-circle {
          border-color: $beige-color;
          background-color: rgba(255, 204, 0, 0.1);
          transition: all 0.5s ease;

          img {
            transform: rotate(15deg);
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}

// ---------gallery---------//
.gallery {
  position: relative;
  .paper-tear {
    position: absolute;
    width: 100%;
    height: 60px;
    top: -30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .gallery-filters {
    border: 1px solid #ffffff21;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.13);

    button {
      margin: 0.3rem;
      color: #ddd;
      transition: all 0.3s ease;
      border-radius: 4px;
      font-family: $font-marcellus;
      border: 0px;
      &.active,
      &:hover {
        background: rgba(255, 255, 255, 0.16);
        color: #fff;
        border-color: #444;
      }
    }
  }

  .gallery-grid {
    .gallery-item {
      overflow: hidden;
      position: relative;
      transition: transform 0.5s ease, opacity 0.3s ease;
      display: block;
      height: 100%;
      height: 100%;
      &:hover {
        transform: rotate(-3deg);
        opacity: 0.9;
        border: 2px solid #6f8800;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// ---------Brochure------------//

.brochure {
  position: relative;
  background-color: #f1ffe6;
  &::after {
    content: "";
    position: absolute;
    bottom: -22%;
    right: -5%;
    width: 450px;
    height: 400px;
    z-index: 11;
    background-image: url("../img/pages/leafup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(-105deg);
    z-index: 0;
  }
  .paper-top,
  .paper-bottom {
    position: absolute;
    z-index: 11;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .paper-top {
    top: -20px;
  }
  .paper-bottom {
    bottom: -20px;
  }
  .bro-left,
  .bro-right {
    font-family: $font-marcellus;
    h2 {
      font-size: 50px;
    }
    .btn-outline-secondary {
      background-color: #000 !important;
      border-radius: 0px;
      border: 1px;
      font-family: $font-arial;
      font-weight: 400 !important;
    }
  }
  .bro-right {
    p {
      line-height: 30px;
    }
  }
}

.download-btn {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.4s linear;
  position: relative;
}

.download-btn .btn-text {
  transition: margin-right 0.4s linear;
}

.download-btn .download-icon {
  width: 0;
  opacity: 0;
  margin-left: 0;
  transition: width 0.4s linear, opacity 0.3s linear, margin-left 0.4s linear;
  display: inline-flex;
  align-items: center;
}

.download-btn:hover {
  width: fit-content;
}

.download-btn:hover .download-icon {
  width: 20px;
  opacity: 1;
  margin-left: 8px;
}

// ------------why invest-----------//

.section-3 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.33) 0%,
      rgba(0, 0, 0, 0.33) 100%
    ),
    url("../img/pages/whyinvest.jpg") lightgray 50% / cover no-repeat;
  .blackBox {
    height: auto;
    width: auto;
    padding: 14px;
    .innerBox {
      height: auto;
    }
  }
}
// -------------proximity-hub-----------//

.proximity-hub {
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.13) 0%,
      rgba(0, 0, 0, 0.13) 100%
    ),
    url("../img/pages/proximity.jpg") lightgray -64.282px 0px / 107.134% 100% no-repeat;
  height: auto;
  &::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(
      180deg,
      rgba(102, 102, 102, 0) -19.25%,
      rgba(0, 0, 0, 0.33) 49.92%,
      rgba(102, 102, 102, 0) 112.75%
    );
    filter: blur(41.599998474121094px);
  }
  .section-title {
    position: relative;
    z-index: 11;
    margin-top: 30px;
  }
  .proxi-locations {
    position: relative;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: fit-content;
    text-align: center;
    place-items: center;
    z-index: 11;
    .location {
      display: flex;
      height: 64px;
      padding: 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 18px;
      border: 1px solid rgba(82, 120, 1, 0.19);
      background: rgba(0, 0, 0, 0.79);
      h3 {
        color: #fff;
        font-family: $font-marcellus;
        margin: 0px;
      }
    }
  }
  .whiteBox {
    border: 0.975px solid #ddd;
    background: rgba(255, 255, 255, 0.21);
    padding: 14px;
    .innerBox {
      background: $white-color;
      p,
      h3 {
        font-family: $font-marcellus;
      }
      .icondiv {
        border: 1px solid #b18133;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;

        img {
          width: 40px;
          height: 40px;
          transition: transform 0.5s ease;
        }
      }
    }
  }
}

// --------brochure2-----------//

.brochure2 {
  position: relative;
  background: #fdfff0;
  &::after {
    bottom: -22%;
    transform: rotate(-90deg);
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -22%;
    left: -5%;
    width: 450px;
    height: 400px;
    z-index: 11;
    background-image: url("../img/leavies.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(90deg);
    z-index: 0;
  }
  .download-btn {
    background-color: #000;
  }
}

// ---------footer---------//
.footer-para {
  position: relative;
  p {
    font-size: 34px;
    line-height: 50px;
    font-family: $font-marcellus;
    color: $white-color;
    text-align: center;
    margin-bottom: 5rem;
  }
  .top-quote{
    position: absolute;
    left:-20px;
    top: -20px;
  }
   .bottom-quote{
    position: absolute;
    right:220px;
    bottom: 10px;
  }
}
